:root {
    --title-font: 'Bebas Neue', cursive;
    --subtitle-font: 'Source Sans Pro', sans-serif;
    --bm-body-font: 'Rokkitt', serif;
    --bm-primary-color: #91CBFB;
    --bm-secondary-color: #4294BA;
    --bm-dark-color: #212121;
    --bm-light-color: #f8f8f8;
    --bm-font-size: 1.5rem;
    --bm-font-weight: 400;
    --bm-line-height: 1.5;

}



/*---Element Overrides----*/
h6,
.h6,
h5,
.h5,
h4,
.h4,
h3,
.h3,
h2,
.h2,
h1,
.h1 {
    font-family: var(--title-font);
}

.btnMain,
.btnMain,
.btnMain,
.btnMain,
.btnMain{
    background-color: transparent;
    border-style:dashed;
    border-color: #ffffff;
    color: #ffffff;
    border-width: .2em;
    text-shadow: #090211;
    padding-left: 1em;
    padding-right: 1em;
    margin: -10px;
    margin-top: .3em;
    
    
}

.btnMain:hover{
    background-color: #4294BA;
}

.nav-item {
    font-family: var(--title-font);
    font-size: 1.5rem;

}


body {
    font-family: var(--bm-body-font);
    font-size: var(--bm-font-size);
    font-weight: var(--bm-font-weight);
    line-height: var(--bm-line-height);
    color: var(--bm-dark-color);
    background: #abbaab;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ffffff, #abbaab);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ffffff, #abbaab);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */




    --webkit-text-size-adjust: 100%;

}


/* Picture Resolution Sizes
1200x400
992x300
576x200
375x150
*/

/* styling the main title*/
.mainTitle {
    color: #ffffff;
    font-family: var(--title-font);
    font-size: 2.5rem;
    line-height: 1.5rem;
}

/* sizing the logo for header*/



/* SUBTITLE STYLING*/
.subtitle {
    color: #ffffff;
    font-family: var(--sibtitle-font);
    font-size: 1rem;
    line-height: .6rem;
    font-weight: 100;
    letter-spacing: .1rem;
}

.mainHeader {
    padding-top: calc(2em + 74px);
    background-image: url(/img/SUNSKY576-200-1.png);
    height: 274px;
    background-repeat: no-repeat;
    background-position: left 0px top 74px;
}

.section-page {
    height: 100%;
    padding-top: 4em;
    padding-bottom: 4em;

}

/*------Project Cards-----*/
.projectCard {
    border-color: var(--bm-dark-color);
    border-width: 1x;
    width: 18rem;
}



.btn-secondary,
.btn-secondary:hover,
.btn-secondary:active,
.btn-secondary:visited,
.btn-secondary:focus {
    background-color: #4edfae;
    border-color: #090211;
    color: #090211;
    font-weight: 400;
    font-size: medium;
}










/*------MEDIA QUERIES-------*/

/*small devices (landscape phones 576px and up*/

@media (min-width: 374.98px) {
    .mainHeader {
        background-image: url(/img/SUNSKY375x150.jpg);
        height: 274px;
    }

    .mainTitle {
        font-size: 2.1rem;
        line-height: 1.8rem;

    }

    .mainLogo {
        height: .5em;

    }

    .subtitle {
        font-family: var(--sibtitle-font);
        font-size: .6em;
        line-height: 1rem;
        font-weight: 400;
        letter-spacing: .2rem;
        padding-bottom: .2em;
    }
}

@media (min-width: 355.98px) {
    .mainHeader {
        background-image: url(/img/SUNSKY576-200-1.png);
        height: 274px;
    }

    .mainTitle {
        font-size: 1.4rem;
        line-height: 1.1rem;
    }

    .mainLogo {
        height: 3rem;

    }

    .subtitle {
        font-family: var(--sibtitle-font);
        font-size: 0.9rem;
        line-height: 1rem;
        font-weight: 300;
        letter-spacing: .1rem;
    }
}


@media (min-width: 575.98px) {
    .mainHeader {
        background-image: url(/img/SUNSKY576-200-1.png);
        height: 274px;
    }

    .mainTitle {
        font-size: 2.1rem;
        line-height: 1.8rem;
    }

    .mainLogo {
        height: 2.5em;

    }

    .subtitle {
        font-family: var(--sibtitle-font);
        font-size: 1rem;
        line-height: 1rem;
        font-weight: 300;
        letter-spacing: .2rem;
    }
}

@media (min-width: 575.98px) {
    .mainHeader {
        background-image: url(/img/SUNSKY768x200.png);
        height: 274px;
    }

    .mainTitle {
        font-size: 2.1rem;
        line-height: 1.8rem;
    }

    .mainLogo {
        height: 2.5em;

    }

    .subtitle {
        font-family: var(--sibtitle-font);
        font-size: 1rem;
        line-height: 1rem;
        font-weight: 300;
        letter-spacing: .2rem;
    }
}

@media (min-width: 767.98px) {
    .mainHeader {
        background-image: url(/img/SUNSKY992x300.png);
        height: 374px;
    }

    .mainTitle {
        font-size: 4.5rem;
        line-height: 3.5rem;
    }

    .mainLogo {
        height: 3rem;
    }

    .subtitle {
        font-family: var(--sibtitle-font);
        font-size: 1.3rem;
        line-height: 1.2rem;
        font-weight: 300;
        letter-spacing: .2rem;
    }
}


@media (min-width: 991.98px) {
    .mainHeader {
        background-image: url(/img/SUNSKY1200x400-1.png);
        height: 474px;
    }

    .mainTitle {
        font-size: 5rem;
        line-height: 4.5rem;
    }

    .mainLogo {
        height: 3.5rem;

    }


    .subtitle {
        font-family: var(--sibtitle-font);
        font-size: 1.3rem;
        line-height: 1.3rem;
        font-weight: 400;
        letter-spacing: .5rem;
    }
}


@media (min-width: 1199.98px) {
    .mainHeader {
        background-image: url(/img/SUNSKY2560x500.png);
        height: 574px;
    }

    .mainTitle {
        font-size: 5rem;
        line-height: 4.5rem;
    }

    .mainLogo {
        height: 4rem;

    }

    .subtitle {
        font-family: var(--sibtitle-font);
        font-size: 1.4rem;
        line-height: 1.2rem;
        font-weight: 400;
        letter-spacing: .1rem;

    }
}

@media (min-width: 1399.98px) {
    .mainHeader {
        background-image: url(/img/SUNSKY2560x500.png);
        height: 574px;
    }

    .mainTitle {
        font-size: 5rem;
        line-height: 4rem;
    }

    .mainLogo {
        height: 4rem;


    }

    .subtitle {
        font-family: var(--sibtitle-font);
        font-size: 1.5rem;
        line-height: 1.3rem;
        padding-bottom: .4rem;
        font-weight: 400;
        letter-spacing: .4rem;

    }
}